@model EventEasePOE.Models.EventsM

@{
    ViewData["Title"] = "Create Event";
}

<h1>Create Event</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="EventName" class="control-label"></label>
        <input asp-for="EventName" class="form-control" />
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventId" class="control-label"></label>
        <textarea asp-for="EventId" class="form-control"></textarea>
        <span asp-validation-for="EventId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>